.center.jumbotron
  %h1 Chirpr
  %h2
    This is the home page for the
    = link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/"
    sample application.
  = link_to "Sign up now!", "#", class: "btn btn-lg btn-primary"
